# pandas
# numpy
# scikit-learn
# seaborn
# matplotlib
# flask 
# dvc
# catboost
# xgboost
# mlflow
# google.generativeai
# python-dotenv
# streamlit
# tensorflow
# opencv-python
# pymongo
# chainlit
# pymongo[srv]
# -e .

# Flask
# gunicorn
# numpy
# pandas
# scikit-learn
# matplotlib
# seaborn
# Pillow
# opencv-python-headless
# tensorflow
# keras
# mlflow
# python-dotenv
# google-generativeai
# gdown
# dill
# PyYAML
# xgboost
# Flask==3.0.3
# gunicorn==22.0.0
# numpy==1.26.4
# pandas==2.2.2
# scikit-learn==1.5.1
# matplotlib==3.9.0
# seaborn==0.13.2
# Pillow==10.4.0
# opencv-python-headless==4.10.0.84
# tensorflow==2.16.1
# keras==3.3.3
# google-generativeai==0.8.3
# python-dotenv==1.0.1
# dill==0.3.8
# PyYAML==6.0.2
# xgboost==2.1.1

Flask==3.0.3
gunicorn==22.0.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
Pillow==10.4.0
opencv-python-headless==4.10.0.84
tensorflow==2.16.1
keras==3.3.3
python-dotenv==1.0.1
dill==0.3.8
PyYAML==6.0.2
xgboost==2.1.1